.screen {
    background: #433437;
    color: white;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 68px;
    height: 68px;
    margin-right: -1px;
    margin-top: -1px;
    padding-right: 10px;
    text-align: right;
    width: 257px;
}

.screen:focus {
    outline: none;
}